# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl  
terraform.tfvars
backend.conf         
config.tfvars

# --- Python ---
__pycache__/
*.py[cod]
*venv/
.pytest_cache/

# --- AWS / Local ---
.aws/
.DS_Store

# --- Jupyter Notebooks ---
*.ipynb

# --- Generated Artifacts ---
# Ignore the zip created by Terraform (Logic), but KEEP your layer zip
infrastructure/*.zip

# Python Layer
src/python/*