# Data Processing & ML
pandas
numpy
scikit-learn
boto3
botocore[crt]
tensorflow==2.21.0
tabulate==0.10.0
python-dotenv==1.2.2
streamlit==1.58.0

# MLOps & Exploration
mlflow
jupyterlab
matplotlib
seaborn
plotly